/*HEADLINE*/

$smallPhone: 360px;
$ipad: 768px;
$laptop: 1024px;
.awssld {
    background-color: var(--principalColor) !important;
}

.awssld__timer.awssld__timer--animated.awssld__timer--run {
    --timer-background-color: gray !important;
}

.awssld__controls {
    visibility: visible !important;
}

.awssld__container {
    height: 100%;
}


.awssld__content .headline {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    .mobile {
        height: 100%;
        width: 100%;
        img {
            padding: 0px;
            margin: 0px;
            width: 100%;
            height: auto;
        }
    }
}

@media only screen and (min-width: $smallPhone) {
    .awssld {
        background: #fff;
    }
}

@media only screen and (min-width: $ipad) {
    //Slider
    .awssld {
        background: #fff;
        border-bottom: solid 1px gray;
    }
    .awssld__content {
        align-items: flex-start;
    }
    .headline {
        .mobile {
            display: none;
        }
        .desktop {
            display: flex;
            width: 100%;
            background-size: cover;
            img {
                width: auto;
            }
        }
    }
}

